/* background-image: url('http://gmsantacruz.gob.bo/_activos-municipales/img/brt-sarao/portada.jpg'); */
body {
  background-color: #cacaca;
}
.App {
  background-image: url('http://gmsantacruz.gob.bo/_activos-municipales/img/brt-sarao/portada.jpg');
}
.tabla1 {
  margin-top: 20pt;
  color: white;
  font-size: 15pt;
}